n8n/Agent Hunt (Deal Room).json
{
  "name": "Agent Hunt (Deal Room)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-hunt",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        672,
        208
      ],
      "id": "4d952fd8-0464-4769-ae4b-e8edf93dc639",
      "name": "Listen for Needs",
      "webhookId": "550ebd62-3679-4ad1-8c0a-ca99ea1fc073"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "b7cf18104f5163332b90dec4c3ada6b64a3bcf64"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q\": \"{{ $json.body.searchQuery }}\",\n  \"num\": 50,\n  \"tbs\": \"qdr:w\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        208
      ],
      "id": "64ecbcce-92e6-4e7a-aa64-d0c0b711c533",
      "name": "Search Web (Serper)"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a Real Estate Data Assistant.\n\nI will provide you with raw search results for a property requirement: \"{{ $('Listen for Needs').item.json.body.searchQuery }}\"\n\nYOUR TASK:\nAnalyze the search snippets below and extract valid property listings.\nIgnore generic landing pages or ads. Focus on specific listings.\n\nSEARCH RESULTS:\n{{ JSON.stringify($json) }}\n\nOUTPUT FORMAT:\nReturn ONLY a JSON array. Do not include markdown formatting like ```json.\n\n[\n  {\n    \"title\": \"3 BHK Flat in Sector 82\",\n    \"description\": \"Full description from snippet...\",\n    \"location\": \"Mohali Sector 82\",\n    \"price\": \"1.25 Cr\",\n    \"source_url\": \"https://...\",\n    \"source_platform\": \"Facebook\",\n    \"confidence_score\": 0.9,\n    \"contact_info\": { \n        \"phone\": \"9876543210\", \n        \"email\": \"example@gmail.com\" \n    }\n  }\n]\n\nIMPORTANT:\n- If you see a phone number in the snippet, extract it into \"contact_info.phone\".\n- If no phone is found, leave \"phone\" as null."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1120,
        208
      ],
      "id": "0b47858c-888f-42d9-a65a-7de3dd7dc4cf",
      "name": "Gemini Parser",
      "credentials": {
        "googlePalmApi": {
          "id": "3WrGUVI5KHmfX2TL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the string output from Gemini into actual JSON object\nconst rawText = $input.first().json.content.parts[0].text;\nlet cleanJson;\n\ntry {\n  // Remove any markdown code block syntax if Gemini added it\n  const cleanText = rawText.replace(/```json/g, '').replace(/```/g, '').trim();\n  cleanJson = JSON.parse(cleanText);\n} catch (e) {\n  cleanJson = [];\n}\n\n// Return each listing as a separate item for the next node\nreturn cleanJson.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        208
      ],
      "id": "82798ff9-9351-4d64-9d21-7abed1af0e33",
      "name": "Format JSON"
    },
    {
      "parameters": {
        "tableId": "external_listings",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.description }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $json.location }}"
            },
            {
              "fieldId": "price",
              "fieldValue": "={{ $json.price }}"
            },
            {
              "fieldId": "source_url",
              "fieldValue": "={{ $json.source_url }}"
            },
            {
              "fieldId": "source_platform",
              "fieldValue": "={{ $json.source_platform }}"
            },
            {
              "fieldId": "confidence_score",
              "fieldValue": "={{ $json.confidence_score }}"
            },
            {
              "fieldId": "property_type",
              "fieldValue": "Unknown"
            },
            {
              "fieldId": "requirement_id",
              "fieldValue": "={{ $('Listen for Needs').item.json.body.requirementId }}"
            },
            {
              "fieldId": "=contact_info",
              "fieldValue": "={{ $json.contact_info }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1680,
        208
      ],
      "id": "9800f53e-75d4-4155-ad5f-63b769ba2e9c",
      "name": "Save to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "UgnuxpCJwLormMKp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"matches_found\": {{ $input.all().length }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1936,
        208
      ],
      "id": "61e8ff18-be7d-447b-affd-7dd4b393dbf6",
      "name": "Respond"
    }
  ],
  "pinData": {
    "Listen for Needs": [
      {
        "json": {
          "headers": {
            "host": "adrollsai13.app.n8n.cloud",
            "user-agent": "node",
            "content-length": "138",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "3.87.193.39",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9a79ebc4b64807bd-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "3.87.193.39, 162.158.152.163",
            "x-forwarded-host": "adrollsai13.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-60-78f959c455-lfjjx",
            "x-is-trusted": "yes",
            "x-real-ip": "3.87.193.39",
            "x-vercel-id": "bom1::st7zt-1764668979942-c76896c60d9b"
          },
          "params": {},
          "query": {},
          "body": {
            "userId": "005c5910-fa1a-43a8-9360-2c9d1a0b7b4e",
            "requirementId": "763084d1-abcd-4cf7-9288-60ade4cbccde",
            "searchQuery": "3bhk in mzirakpur"
          },
          "webhookUrl": "https://adrollsai13.app.n8n.cloud/webhook/agent-hunt",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Listen for Needs": {
      "main": [
        [
          {
            "node": "Search Web (Serper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Web (Serper)": {
      "main": [
        [
          {
            "node": "Gemini Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Parser": {
      "main": [
        [
          {
            "node": "Format JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format JSON": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "287edb2e-8833-4372-9ba7-f950a68f41c0",
  "meta": {
    "instanceId": "3a51ec9e2b6ba838c197e909ea76dd8dc3b2079d815a88b998ea6ba74887a108"
  },
  "id": "fAHQAh86vBXm0NJp",
  "tags": []
}