n8n/Auto-Blogger.json
{
  "name": "Auto-Blogger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "bfd8d4c2-9aa4-424c-bb6f-cda5a7ccad11",
      "name": "Weekly Schedule"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profiles",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "d478014b-85e0-4bca-a6ad-11768638d687",
      "name": "Get All Users",
      "credentials": {
        "supabaseApi": {
          "id": "UgnuxpCJwLormMKp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "81314497-70c7-4a66-a95f-50c044381bcf",
      "name": "Get 1 Property",
      "credentials": {
        "supabaseApi": {
          "id": "UgnuxpCJwLormMKp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "posts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Get All Users').item.json.id }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('Get 1 Property').item.json.title }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content.parts[0].text }}"
            },
            {
              "fieldId": "excerpt",
              "fieldValue": "Test excerpt"
            },
            {
              "fieldId": "image_url",
              "fieldValue": "={{ $('Get 1 Property').item.json.image_url }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "{\"Investment\",\"Market Trends\",\"Finance\",\"2025\"}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1024,
        0
      ],
      "id": "c501af42-37f4-4d00-9c94-e10e22846f26",
      "name": "Save to DB",
      "credentials": {
        "supabaseApi": {
          "id": "UgnuxpCJwLormMKp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=write a blog for this property listing in mohali tricity area :-\n Title : {{ $json.title }}\nPrice :- {{ $json.price }}\nDescription : {{ $json.description }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "9e865083-6ada-4e29-b94c-3a328b60a8e0",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "3WrGUVI5KHmfX2TL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Get All Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Users": {
      "main": [
        [
          {
            "node": "Get 1 Property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 1 Property": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Save to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e7e57144-168b-46f2-9720-2b21b27019a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a51ec9e2b6ba838c197e909ea76dd8dc3b2079d815a88b998ea6ba74887a108"
  },
  "id": "WHf8u440XIN1X9pc",
  "tags": []
}