n8n/Image Generation.json
{
  "name": "Image Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1216,
        848
      ],
      "id": "388c5345-b9f2-46b9-8cf6-bf0941171045",
      "name": "Webhook1",
      "webhookId": "d625eb57-bea3-412b-b489-0cecd34b2c10"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"text\": \"Here is your generated design!\",\n  \"image\": \"{{ $json.url }}\" \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1424,
        800
      ],
      "id": "9367e582-2d3c-4102-8470-5739416500ff",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profiles",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.userId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -992,
        848
      ],
      "id": "0dc80ff3-3a7e-40dd-b53b-ab2475924604",
      "name": "Get many rows1",
      "credentials": {
        "supabaseApi": {
          "id": "UgnuxpCJwLormMKp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -544,
        848
      ],
      "id": "5caf053f-f65c-407e-9d1f-f6822c2683c6",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "z68zkWYC1xuUJsNq",
          "name": "csh kie.ai"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -320,
        848
      ],
      "id": "ca1d3e3b-d4b9-4b1e-9bcb-8012563c019b",
      "name": "Wait2",
      "webhookId": "5e40bfee-d22e-49ce-8de6-b5d59ce4396e"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('HTTP Request2').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -96,
        848
      ],
      "id": "f8fbe1b5-461c-4b90-a11b-472261681367",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "z68zkWYC1xuUJsNq",
          "name": "csh kie.ai"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('HTTP Request3').item.json.msg }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a900be89-a9ba-44e4-b479-9223c01bd4c5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "16295548-bf5f-4795-98cc-2cc7ef67f73a",
                    "leftValue": "={{ $('HTTP Request3').item.json.msg }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4c60b301-575e-4a6b-b049-05a1ca1555a9",
                    "leftValue": "={{ $('HTTP Request3').item.json.msg }}",
                    "rightValue": "generating",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8a84aa8f-ef09-443b-a1d4-f966e90fd2f3",
                    "leftValue": "={{ $('HTTP Request3').item.json.msg }}",
                    "rightValue": "queuing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "queuing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "23e072e7-d365-4887-b873-3e553f6d5853",
                    "leftValue": "={{ $('HTTP Request3').item.json.msg }}",
                    "rightValue": "waiting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "waiting"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        192,
        848
      ],
      "id": "1b6da128-87e5-425a-a056-75416efca988",
      "name": "Switch1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"text\": \"Sorry, the generation failed. Reason: {{ $('HTTP Request3').item.json.data.failMsg }}\",\n  \"image\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        992,
        1104
      ],
      "id": "5eca1e11-618b-4544-a530-c86b4fc8cd16",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "tableId": "assets",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Webhook1').item.json.body.userId }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ JSON.parse($node[\"HTTP Request3\"].json.data.resultJson).resultUrls[0] }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $('Webhook1').item.json.body.mode }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "Draft"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1184,
        800
      ],
      "id": "7eae28ee-43b0-44ad-9e88-5c630fbd7f83",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "UgnuxpCJwLormMKp",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw ingredients from the Webhook\nconst webhookData = $items(\"Webhook1\")[0].json.body;\n\n// 2. Construct the Master Prompt\n// FIX: Use ${} to insert the variables, otherwise they are just text\nconst masterPrompt = `\nCONTEXT FROM USER:\n\"${webhookData.userInstructions}\"\n\nPROPERTY DETAILS:\n\"${webhookData.propertyDescription}\"\n\nMANDATORY INCLUSIONS:\n- Include the Contact Number: \"${webhookData.contactNumber}\"\n- Include the Brand logo.\n\n\ndesign a facebook ad graphic from the provided images, whatever info you see in photos and provided description that is provided, use that, include the contact number, the creative should be attention grabbing and readable, only use the relevant and essential info in the creative, don't clutter it too much, if there is any specific user instruction, give that high priority.\n`;\n\n// 3. Handle Images\nlet finalImages = webhookData.imageUrls;\nif (!finalImages || finalImages.length === 0) {\n    finalImages = undefined; \n}\n\n// 4. Construct Payload for Nano Banana\nconst payload = {\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": masterPrompt, // Now this contains the actual text\n    \"image_input\": finalImages,\n    \"aspect_ratio\": webhookData.aspectRatio || \"1:1\",\n    \"resolution\": \"1K\",\n    \"output_format\": \"png\"\n  }\n};\n\nreturn {\n  json: {\n    payload: payload,\n    trackingTitle: webhookData.propertyTitle \n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        848
      ],
      "id": "c016ac20-9372-49ac-a31c-d17487866af2",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        400,
        1104
      ],
      "id": "6d0f1542-957d-4b04-b893-546d5fba6fd4",
      "name": "Wait3",
      "webhookId": "5e40bfee-d22e-49ce-8de6-b5d59ce4396e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f92cdf00-4247-4d81-b4a2-70f2e319b1f7",
              "leftValue": "={{ $json.data.resultJson }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        832
      ],
      "id": "15cf6008-2c41-4028-8756-5656dbe2132c",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        64,
        1040
      ],
      "id": "6350f2ad-cb44-4278-bc08-9df6594cc4cb",
      "name": "Wait",
      "webhookId": "60a14430-4ee7-4c39-9557-081c243a1891"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "20f6da10-3c46-4d56-8543-c17b9e2125b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a51ec9e2b6ba838c197e909ea76dd8dc3b2079d815a88b998ea6ba74887a108"
  },
  "id": "jJ2ZPJp5hNDJTisC",
  "tags": []
}