n8n/Post to LinkedIn.json
{
  "name": "Post to LinkedIn",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-linkedin",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        160
      ],
      "id": "b7308780-d278-4f4c-a8ee-336305258b67",
      "name": "Webhook",
      "webhookId": "3575588b-27b0-4011-bc32-abc85fe1edf5"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Webhook\"].json.body.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -416,
        160
      ],
      "id": "ebbec8f5-1243-43f6-aab8-dc3318a65886",
      "name": "Get User URN"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/assets?action=registerUpload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Webhook\"].json.body.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"registerUploadRequest\": {\n\"recipes\": [\"urn:li:digitalmediaRecipe:feedshare-image\"],\n\"owner\": \"urn:li:person:{{ $node[\"Get User URN\"].json.sub }}\",\n\"serviceRelationships\": [\n{\n\"relationshipType\": \"OWNER\",\n\"identifier\": \"urn:li:userGeneratedContent\"\n}\n]\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        160
      ],
      "id": "c8884b49-233b-40e1-8dfa-c8acc6c92200",
      "name": "Register Upload"
    },
    {
      "parameters": {
        "url": "={{ $node[\"Webhook\"].json.body.imageUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        160
      ],
      "id": "7ac3518b-5be2-45e9-a0c5-b7f9652c4e5b",
      "name": "Download Image"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $node[\"Register Upload\"].json.value.uploadMechanism[\"com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest\"].uploadUrl }}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        160
      ],
      "id": "c2c62980-7e76-4b05-a4c5-06e7ed0adc39",
      "name": "Upload Binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Webhook\"].json.body.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"author\": \"urn:li:person:{{ $node[\"Get User URN\"].json.sub }}\",\n\"lifecycleState\": \"PUBLISHED\",\n\"specificContent\": {\n\"com.linkedin.ugc.ShareContent\": {\n\"shareCommentary\": {\n\"text\": \"{{ $node[\"Webhook\"].json.body.caption }}\"\n},\n\"shareMediaCategory\": \"IMAGE\",\n\"media\": [\n{\n\"status\": \"READY\",\n\"description\": {\n\"text\": \"Image\"\n},\n\"media\": \"{{ $node[\"Register Upload\"].json.value.asset }}\",\n\"title\": {\n\"text\": \"Shared Image\"\n}\n}\n]\n}\n},\n\"visibility\": {\n\"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        480,
        160
      ],
      "id": "44b1c6ea-775d-44cd-9c3d-f6dfc03e821f",
      "name": "Create Post"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"id\": \"{{ $json.id }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        688,
        160
      ],
      "id": "b1069fbb-2f98-4d3f-b668-5516faa43fc0",
      "name": "Respond"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get User URN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User URN": {
      "main": [
        [
          {
            "node": "Register Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Upload": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Binary": {
      "main": [
        [
          {
            "node": "Create Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Post": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4b04c2eb-923d-43a2-b03f-0ab6ec5fbad8",
  "meta": {
    "instanceId": "3a51ec9e2b6ba838c197e909ea76dd8dc3b2079d815a88b998ea6ba74887a108"
  },
  "id": "Zplcx5nJnXLDB2MO",
  "tags": []
}