n8n/Post to Instagram.json
{
  "name": "Post to Instagram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-instagram",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2c7e2504-4bf5-4186-9743-4c0f9b47d161",
      "name": "Webhook",
      "webhookId": "08f6fb9b-f9ad-403f-bb87-e809e0823407"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $json.body.pageId }}?fields=instagram_business_account",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.body.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "390130fb-9fb6-443b-a8c6-03c9dec1f0b9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $node[\"HTTP Request\"].json.instagram_business_account.id }}/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $node[\"Webhook\"].json.body.imageUrl }}"
            },
            {
              "name": "caption",
              "value": "={{ $node[\"Webhook\"].json.body.caption }}"
            },
            {
              "name": "access_token",
              "value": "={{ $node[\"Webhook\"].json.body.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        384,
        0
      ],
      "id": "057586ac-c571-47c9-a4d5-044dcadb193c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $node[\"HTTP Request\"].json.instagram_business_account.id }}/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $node[\"Webhook\"].json.body.imageUrl }}"
            },
            {
              "name": "caption",
              "value": "={{ $node[\"Webhook\"].json.body.caption }}"
            },
            {
              "name": "access_token",
              "value": "={{ $node[\"Webhook\"].json.body.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        0
      ],
      "id": "8a0e6cbd-61a1-4412-8ce8-3e76289cfd82",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $node[\"HTTP Request\"].json.instagram_business_account.id }}/media_publish",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "={{ $node[\"Webhook\"].json.body.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        0
      ],
      "id": "4ecac74b-ed49-4d7a-a89b-bdc9242c33b7",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"id\": \"{{ $json.id }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1008,
        0
      ],
      "id": "924525fe-2ff4-4fd5-9aba-47f184df51a9",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8567dcb2-569d-42d6-8154-107d88692b92",
  "meta": {
    "instanceId": "3a51ec9e2b6ba838c197e909ea76dd8dc3b2079d815a88b998ea6ba74887a108"
  },
  "id": "5TWj93z8NOW1OiSX",
  "tags": []
}