n8n/Post to YouTube.json
{
  "name": "Post to YouTube",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-youtube",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "7526977a-140a-4cbb-b1f0-f9a9e9d8acfe",
      "name": "Webhook",
      "webhookId": "80a15787-2759-4605-bf10-a5c6d0dc0071"
    },
    {
      "parameters": {
        "url": "={{ $json.body.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        0
      ],
      "id": "942ecb86-75b3-4092-97e7-13a2f0738532",
      "name": "Download Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Webhook\"].json.body.accessToken }}"
            },
            {
              "name": "X-Upload-Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"title\": \"{{ $node[\"Webhook\"].json.body.title }}\",\n    \"description\": \"{{ $node[\"Webhook\"].json.body.description }}\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"public\",\n    \"selfDeclaredMadeForKids\": false\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        0
      ],
      "id": "6d987d28-8562-4023-938d-e25fbd9e6263",
      "name": "Initiate Upload"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.headers.location }}",
        "sendBody": true,
        "contentType": "binaryData",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        0
      ],
      "id": "7ec8da65-80cc-4776-ae4f-325516a243a1",
      "name": "Upload Binary"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"videoId\": \"{{ $json.id }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        0
      ],
      "id": "8412d537-146b-4e0b-8403-ba31233f8cea",
      "name": "Respond"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Initiate Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initiate Upload": {
      "main": [
        [
          {
            "node": "Upload Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Binary": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1474c75-5cad-4b9b-b31a-a5725369c8fe",
  "meta": {
    "instanceId": "3a51ec9e2b6ba838c197e909ea76dd8dc3b2079d815a88b998ea6ba74887a108"
  },
  "id": "C82qf4q4LtmmeCOp",
  "tags": []
}