n8n/Post to YouTube.json
{
  "name": "Post to YouTube",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-youtube",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        240
      ],
      "id": "986b952d-37c6-4d70-b54f-63d2ec09410f",
      "name": "Webhook",
      "webhookId": "9b419ec6-7a66-4e31-b6cb-afea4cc251d7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Webhook\"].json.body.accessToken }}"
            },
            {
              "name": "X-Upload-Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"snippet\": {\n    \"title\": $node[\"Webhook\"].json.body.title,\n    \"description\": $node[\"Webhook\"].json.body.description\n  },\n  \"status\": {\n    \"privacyStatus\": $node[\"Webhook\"].json.body.privacy || 'public',\n    \"selfDeclaredMadeForKids\": false\n  }\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        240
      ],
      "id": "0814bf4c-f59d-44df-86d8-ea02c7d2b943",
      "name": "Initiate Upload (Vid)"
    },
    {
      "parameters": {
        "url": "={{ $node[\"Webhook\"].json.body.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        240
      ],
      "id": "72ebb24b-eb74-410b-91bd-6569a42c0ccb",
      "name": "Download Source Vid"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $node[\"Initiate Upload (Vid)\"].json.headers.location }}",
        "sendBody": true,
        "contentType": "binaryData",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        240
      ],
      "id": "8f11464a-aa4f-4090-890e-d144eee31a8c",
      "name": "Upload Binary (Vid)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"videoId\": \"{{ $json.id }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        688,
        240
      ],
      "id": "722bd586-eb1a-480d-a1e1-2eb9bceb710e",
      "name": "Respond"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Initiate Upload (Vid)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initiate Upload (Vid)": {
      "main": [
        [
          {
            "node": "Download Source Vid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Source Vid": {
      "main": [
        [
          {
            "node": "Upload Binary (Vid)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Binary (Vid)": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b9ab02b4-ee93-4959-bb73-6c77a47e7185",
  "meta": {
    "instanceId": "3a51ec9e2b6ba838c197e909ea76dd8dc3b2079d815a88b998ea6ba74887a108"
  },
  "id": "C82qf4q4LtmmeCOp",
  "tags": []
}