n8n/Social to FB.json
{
  "name": "Social to FB",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-social",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "95035543-fa3c-4aeb-ac8d-6c89a7899cbe",
      "name": "Webhook",
      "webhookId": "8bc57a6a-0d9b-4a69-9510-a688cafb9b1a"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"postId\": \"{{ $json.id }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        0
      ],
      "id": "9d36453a-d04d-4940-8f83-54e2ecc6e86c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/me/photos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.body.accessToken }}"
            },
            {
              "name": "url",
              "value": "={{ $json.body.imageUrl }}"
            },
            {
              "name": "message",
              "value": "={{ $json.body.caption }}"
            },
            {
              "name": "published",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "9d0565ec-0035-492a-b048-8a0358ff169f",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "940f7667-3d5a-48e1-afce-84fb99d8aae2",
  "meta": {
    "instanceId": "3a51ec9e2b6ba838c197e909ea76dd8dc3b2079d815a88b998ea6ba74887a108"
  },
  "id": "QT9NCRRNz0wbOMiW",
  "tags": []
}